<div class="card mb-4">
  <div class="card-header"><strong>Edit User</strong><span class="small ms-1"></span></div>
    <div class="card-body">
      <%= form_with(model: @user, local: true, data: { turbo: false }, html: { class: 'form-horizontal' }) do |form| %>
        <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> prevents this user from being saved :</h2>
            <ul>
              <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="mb-3 row">
          <label for="user_email" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <%= form.text_field :email, id: :user_email, class: 'form-control' %>
          </div>
        </div>

        <div class="mb-3 row">
          <label for="user_username" class="col-sm-2 col-form-label">Username</label>
          <div class="col-sm-10">
            <%= form.text_field :username, id: :user_username, class: 'form-control' %>
          </div>
        </div>

        <div class="mb-3 row">
          <label for="user_password" class="col-sm-2 col-form-label">Password</label>
          <div class="col-sm-10">
            <%= form.password_field :password, id: :user_password, class: 'form-control' %>
          </div>
        </div>

        <div class="actions">
          <%= form.submit "Save", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
</div>

<%= link_to 'Back to users', users_path, class: 'btn btn-secondary' %>