<div class="card mb-4">
  <div class="card-header"><strong>Launch new scan</strong><span class="small ms-1"></span></div>
    <div class="card-body">
      <%= form_with scope: :scan, url: scans_path, local: true do |form| %>
        <div class="mb-3">
          <%= form.label :urls, "Enter URLs (new line separated):", class: "form-label", for: "scanUrlsTextarea" %>
          <%= form.text_area :urls, id: "scanUrlsTextarea", class: "form-control", rows: 3 %>
        </div>
        <div class="mb-3">
          <%= form.label :crawl, "Crawl Configuration (optional) :", class: "form-label" %>
          <%= form.text_field :crawl, class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= form.label :audit, "Audit Configuration (optional) :", class: "form-label" %>
          <%= form.text_field :audit, class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= form.check_box :force_scan, id: 'forceScanCheckbox', class: "form-check-input" %>
          <%= form.label :force_scan, "Force scan", class: "form-label" %>
        </div>

        <div class="actions">
          <%= form.submit "Start Scan", class: "btn btn-primary", id: "scanSubmitButton" %>
        </div>
      <% end %>
    </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var submitButton = document.getElementById('scanSubmitButton');
    var forceScanCheckbox = document.getElementById('forceScanCheckbox');

    submitButton.addEventListener('click', function(event) {
      if (forceScanCheckbox.checked) {
        // Confirm if "Force Scan" is checked
        var confirmResult = confirm("Are you sure you want to force the scan ?");
        if (!confirmResult) {
          // Cancel form submission if user does not confirm
          event.preventDefault();
        }
      }
    });
  });
</script>