<div class="card mb-4">
  <div class="card-header"><strong><%= @vulnerability.name %></strong><span class="small ms-1"></span></div>
    <div class="card-body">
    	<strong>URL :</strong> <%= @vulnerability.url %><br>
    	<strong>Payload :</strong> <%= @vulnerability.payload %>
  </div>
</div>

<div class="card mb-4">
  <div class="card-header"><strong>Description</strong><span class="small ms-1"></span></div>
    <div class="card-body">
    	<%= raw(@vulnerability.description) %>
  </div>
</div>

<%= button_to triage_vulnerability_path(@vulnerability), method: :patch, class: "btn btn-primary", form: { class: "d-inline col-1" } do %>
  Mark as Triaged
<% end %>